  a {
    color: inherit;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 16px/1.5 sans-serif;
  }
  
  .btn-group {
    text-align: center;
  }
  
  .open-modal {
    font-weight: bold;
    padding: 0.75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  
  /* MODAL
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    
  }
  
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
    background-color: fuchsia;
    position: absolute;
  }
  
  .modal-dialog > * {
    padding: 1rem;
  }
  
  .modal-header,
  .modal-footer {
    background: 
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #77028f;
  }
  
  .modal-header .close-modal {
    font-size: 1.5rem;
  }
  
  .modal p + p {
    margin-top: 1rem;
    
  }
  
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  [data-animation] .modal-dialog {
    opacity: 0;
    transition: all 0.5s var(--bounceEasing);
  }
  
  [data-animation].is-visible .modal-dialog {
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  [data-animation="slideInOutDown"] .modal-dialog {
    transform: translateY(100%);
  }
  
  [data-animation="slideInOutTop"] .modal-dialog {
    transform: translateY(-100%);
  }
  
  [data-animation="slideInOutLeft"] .modal-dialog {
    transform: translateX(-100%);
  }
  
  [data-animation="slideInOutRight"] .modal-dialog {
    transform: translateX(100%);
  }
  
  [data-animation="zoomInOut"] .modal-dialog {
    transform: scale(0.2);
  }
  
  [data-animation="rotateInOutDown"] .modal-dialog {
    transform-origin: top left;
    transform: rotate(-1turn);
  }
  
  [data-animation="mixInAnimations"].is-visible .modal-dialog {
    animation: mixInAnimations 2s 0.2s linear forwards;
  }
  
  [data-animation="slideInOutDown"].is-visible .modal-dialog,
  [data-animation="slideInOutTop"].is-visible .modal-dialog,
  [data-animation="slideInOutLeft"].is-visible .modal-dialog,
  [data-animation="slideInOutRight"].is-visible .modal-dialog,
  [data-animation="zoomInOut"].is-visible .modal-dialog,
  [data-animation="rotateInOutDown"].is-visible .modal-dialog {
    transform: none;
  }
  
  @keyframes mixInAnimations {
    0% {
      transform: translateX(-100%);
    }
  
    10% {
      transform: translateX(0);
    }
  
    20% {
      transform: rotate(20deg);
    }
  
    30% {
      transform: rotate(-20deg);
    }
  
    40% {
      transform: rotate(15deg);
    }
  
    50% {
      transform: rotate(-15deg);
    }
  
    60% {
      transform: rotate(10deg);
    }
  
    70% {
      transform: rotate(-10deg);
    }
  
    80% {
      transform: rotate(5deg);
    }
  
    90% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  
  .page-footer span {
    color: #e31b23;
  }
  ::-webkit-scrollbar {
    display: none;
    }